<div class="mb-3" style="padding: 200px">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="name@example.com"
    [value]="email | lowercase"
  />
  {{ email | lowercase }}
  {{ email | uppercase }}
  <br />
  {{ TodayDate | date: "longDate" }}

  <hr />

  
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input
    type="email"
    class="form-control"
    [value]="empEmail | removeEmailDomain"
  />

  <div>
    <ul>
      <li *ngFor="let item of Emails | trimEmail:domainName | trimString">
        {{ item }}
      </li>
    </ul>
  </div>

  <!-- 'shortDate'	'M/d/yy'	6/15/15 -->
  <!-- {{ value_expression | date [ : format [ : timezone [ : locale ] ] ] }} -->
</div>

<!-- hr@tcs.com to hr -->
<!-- we have to take the help from the pipe -->

<hr />

<div class="mb-3" style="padding: 200px"></div>
